#first{
background-color: 	#FFE4C4;
text-align: center;
height:400px;
padding-top: 150px;

}
#word{
font-size:500%;

}
#form{



}
#grey{
background-color: grey;
height: 1000px;
width:1051px;
padding-left: 100px;
padding-top: 50px;
}
#p{
text-align: justify;
}

#second{


}
#green{

background-color: green;
height: 1000px;
width:300px;
padding-top: 50px;

}
#text-form{
width:200px;

}
#rest{

}
/* editing the words between the second container */
#ping{
font-size: 30px;
}
#created{
  font-size: 20px;
  color:#FFE4C4;
}
#kit{
  font-size: 15px;
  color: white;
}
#git{
  font-size: 25px;
  color:#FFE4C4;
}
#saber{
color:blue;
}
#level{
  font-size: 20px;
  color:#FFE4C4;
}
#java{
  color:white;
}
/* words under lets playin the second paragraph */
#lets{
  font-size: 30px;
  color:black;
}
#rules{
font-size: 20px;
color:black;
}
