#first{
background-image: url("/home/justus/Documents/thirdIP/ball-game-macro-569986.jpg");
background-repeat: no-repeat;
bakground position:center;
background-size: cover;
font-family: 'Abril Fatface', cursive;
text-align: center;
height:500px;
padding-top: 150px;

}
#word{
font-size:500%;

}
#form{



}
#grey{
font-family: 'Rajdhani', sans-serif;
height: 1000px;
width:1051px;
padding-left: 300px;
padding-top: 200px;
font-size:30px;
}
#p{
text-align: center;
}

#second{


}
#green{

font-family: 'Gloria Hallelujah', cursive;
height: 1000px;
width:300px;
padding-top: 50px;

}
#text-form{
width:200px;

}
#rest{

}
/* editing the words between the second container */
#ping{
font-size: 30px;
}
#created{
  font-size: 20px;
  color:#FFE4C4;
}
#kit{
  font-size: 15px;
  color: white;
}
#git{
  font-size: 25px;
  color:#FFE4C4;
}
#saber{
color:blue;
}
#level{
  font-size: 20px;
  color:#FFE4C4;
}
#java{
  color:white;
}
/* words under lets playin the second paragraph */
#lets{
  font-size: 30px;
  color:black;
}
#rules{
font-size: 20px;
color:black;
}
body{

}
